<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find joy_teleop_controller)/config/diff_drive_controller.yaml" ns="/wheel_robot" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/wheel_robot" 
      args="joint_state_controller diff_drive_controller" />

  <!-- running of robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
