<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="model" default="$(find joy_ps3_gazebo)/urdf/wheel_robot.xacro" />
  <!-- Change only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find joy_ps3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model wheel_robot" />

  <!-- ros_control motoman launch file -->
  <include file="$(find joy_teleop_controller)/launch/wheel_control.launch"/>
</launch>
